@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    width: initial;
    height: initial;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
  }
}

.routes-center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-content {
    flex: 1;
}

.sidebar {
    width: 35%;
}